* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body {
    background-image: linear-gradient(10deg,white 50%,#0e0b0b 50%);
    height: 100vh;
    @import url(https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap%27);
    font-family: 'Roboto';
}
.container-fluid-lg {
    text-align: center;
    margin-top: 0;
    
}
nav {
    background-color: #000000;
    display: flex;
    justify-content: space-evenly;
  }
  
  nav a,
  li {
    color: white;
    font-weight: 800;
  }
  
  .navbar-brand img {
    border-radius: 50%;
    height: 50px;
    background-color: white;
    width: 50px;
    margin-left: 30px;
  }
  nav#navigation ul li a {
    display: flex;
    justify-content: space-evenly;
    color: #ffffff;
  }
  #navigation ul li a:hover {
    display: flex;
    justify-content: space-evenly;
    color: #ff0000;
    text-decoration:none ;
    text-transform: 0.5s;
  }
  span#no {
    color: rgb(255, 255, 255);
  }
  
  .contact {
    display: flex;
    justify-content: space-around;
  }

h4.controls-top  {
    color: white;
    font-weight: 800;
}
h5 {
    font-weight: 900;
    color: white;
}
.img-text {
    margin-left: 10%;
    width: 80%;
    display: block;
    text-align: center;
    padding: 5% 5%;
    background: #151515;
    color: #fff;
    border-radius: 15px;
    padding-top: 40%;
    font-style: italic;
    height: 360px;
}
.single-box {
    position: relative;
    margin-bottom: 30px;
}
.img-area {
    position: absolute;
    width: 50%;
    margin: auto;
    border: 5px solid #fff;
    overflow: hidden;
    top: 5%;
    left: 25%;
    border-radius: 50%;
}
.img-area img {
    width: 100%;
}
.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;
}
.carousel-indicators li {
    background: #fff200;
    border-radius: 50%;
    width: 17px;
    height: 5px;
    cursor: pointer;
    margin-right: 5px;
}
.carousel-control-prev, .carousel-control-next {
	width: 30px;
	height: 30px;
    background: #666;
    text-shadow: none;
	top: -50px;
    border-radius: 50%;
}
.carousel-indicators .active {
    background: rgb(255, 255, 255);
}
.carousel-control-prev i, .carousel-control-next i {
	font-size: 16px;
}
.carousel-control-prev {
	/* left: auto; */
	right: 40px;
}

h3.bg {
    background-color: #0e0b0b;
    color: white;
}
.controls-top {
    text-align: center;
    margin-top: 30px;
    color: darkred
}
.form-outline {
    width: 60%;
    margin: auto;
    height: 20vh;
}
textarea {
    width: 100%;
    background-color: #1c1b1b;
    color: white;
}
.form-outline h3 {
    color: white;
    /* font-weight: 800; */
}
.btn {
    background-color: darkred;
    color: white;
    border-radius: 5px;
    
    
}
.contact {
    display: flex;
    justify-content: space-around;
}

.btn-send{
    width: 40%;
    margin-left: 30%; 
  
  }
  
  .btn-send input{
    color: white;
  }
  
  .footer-letter{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .sign-up{
    padding-top: 20px;
    font-size: 1.6rem;
    text-transform: capitalize;
  }
  
  strong{
    color: red;
  
  }
  
  .news-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0b0a0a;
    border: 1px solid #ffffff0e;
    border-radius: 2px;
  }
  
  .newsletter{
    width: 40%;
  }
  
  .input-news input{
    background-color:#535353 ;
    color: white;
    font-size: 1rem;
  }
  
  footer{
    border-top: 0.5px solid #ffffff5d;
  }
  
  .icons a{
    padding: 10px;
    height: 2.5rem;
  }
  
  #con i{
    padding-top: 23px;
    padding-right: 10px;
    height: 40px;
  }
  