@import url("https://fonts.googleapis.com/css2?family=Patrick+Hand&family=Roboto:wght@100&family=Shadows+Into+Light&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: roboto;
}
.navbar-brand img {
  border-radius: 50%;
  height: 100px;
  margin-left: 10%;
}
nav#navigation ul li a {
  color: black;
}
span#no {
  color: black;
}
.about-us {
  width: 100%;
  padding: 0px;
  background-color: #000707;
}
.about-us img {
  height: 350;
  width: 450px;
}
.main {
  width: 100%;
  max-width: 95%;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main h6 {
  color: red;
}
.about-text {
  text-align: center;
  width: 100%;
}
.about-text h1 {
  color: rgb(224, 201, 201);
  font-size: 30px;
  text-transform: capitalize;
  margin-bottom: 20px;
  margin-left: 5px;
}
.about-text h5 {
  color: white;
  font-size: 25px;
  text-transform: capitalize;
  margin-bottom: 20px;
  letter-spacing: 2px;
  margin-left: 5px;
}
span {
  color: red;
}
.about-text p {
  color: rgb(225, 222, 233);
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
  margin-left: 5px;
}
button {
  background: #f00c0ce3;
  color: white;
  text-decoration: none;
  border: 2px solid transparent;
  font-weight: bold;
  padding: 13px 30px;
  border-radius: 30px;
  transition: 0.4s;
}
button:hover {
  background: transparent;
  border: 2px solid;
  cursor: pointer;
}
h6 {
  color: white;
  background-color: rgb(12, 7, 7);
  text-align: center;
  margin-top: 20%;
}
.image {
  background-color: rgb(24, 23, 23);
  display: flex;
  justify-content: space-around;
}
.image img {
  width: 600px;
  margin-top: 30px;
}
.us {
  background-color: #000707;
  display: flex;
  height: 30vh;
  /* flex-direction: row; */
  flex-wrap: wrap;
  justify-content: space-around;
  /* margin-bottom: 10px;  */
  /* position: absolute; */
}
.us p {
  color: white;
  justify-content: center;
}
.us h4 {
  color: white;
  margin: 20px;
}
.vision-p,
.mission-p,
.value-p {
  width: 20%;
  position: absolute;
  display: none;
}
.contact {
  display: flex;
  justify-content: space-around;
}
